.backgrond-div{

    background-image: url('../../assets/image/morocco-flag-vector-19742777.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    background-size: contain;
    height: 35vh;
    justify-content: center;
  }
  .centered-button {
    display: flex;
    justify-content: center;
  }